registry=https://gart.software.gevernova.com/artifactory/api/npm/pgog-fss-iam-uaa-npm-virtual/
always-auth=true
//gart.software.gevernova.com/artifactory/api/npm/pgog-fss-iam-uaa-npm-virtual/:_auth=${NPM_AUTH_TOKEN}
