<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <th:block layout:insert="~{nav :: head}"></th:block>
    <script th:src="@{/resources/predix/js/toast-notifications.js}" defer="defer"></script>
    <script type="text/javascript" src="/resources/javascripts/approvals/click_actions.js" th:src="@{'/resources/javascripts/approvals/click_actions.js'}"></script>
</head>
<div layout:fragment="page-nav">
    <th:block layout:replace="~{nav :: nav}"></th:block>
</div>
<div class="panel-container" layout:fragment="page-content">
    <div class="panel">
        <!-- Success message toast -->
        <section th:if="${param.success_message_code != null and !param.success_message_code.isEmpty()}" 
                 class="toast inline toast--success" role="alert" aria-live="polite">
            <span class="toast__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" width="1.5em" height="auto">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z"/>
                </svg>
            </span>
            <span class="toast__content">
                <span class="toast__message">
                    <span class="toast__description" th:text="#{${'approvals.' + param.success_message_code[0]}}">Success!</span>
                </span>
            </span>
            <span class="toast__close" aria-label="Close notification">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </span>
        </section>
        
        <!-- Error message toast -->
        <section th:if="${param.error_message_code != null and !param.error_message_code.isEmpty()}" 
                 class="toast inline toast--error" role="alert" aria-live="polite">
            <span class="toast__icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="currentColor" width="1.5em" height="auto">
                    <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zm0-384c13.3 0 24 10.7 24 24V264c0 13.3-10.7 24-24 24s-24-10.7-24-24V152c0-13.3 10.7-24 24-24zM232 368a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"/>
                </svg>
            </span>
            <span class="toast__content">
                <span class="toast__message">
                    <span class="toast__description" th:text="#{${'approvals.' + param.error_message_code[0]}}">An error occurred!</span>
                </span>
            </span>
            <span class="toast__close" aria-label="Close notification">
                <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 384 512">
                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                </svg>
            </span>
        </section>
        
        <h1>Account Settings</h1>
        <div class="panel-content">
            <h2>Profile</h2>
            <p class="profile">
                <span class="email" th:text="|${email}|">user@example.com</span><a href="/change_email" th:href="@{/change_email}" th:if="${isUaaManagedUser}">Change Email</a>
                <span class="password">********</span><a href="/change_password" th:href="@{/change_password}" th:if="${isUaaManagedUser}">Change Password</a>
            </p>
            <h2>Third Party Access</h2>
            <p th:text="${approvals.size() > 0 ? 'These applications have been granted access to your account.' : 'You have not yet authorized any third party applications.'}">
                These applications have been granted access to your account.
            </p>
            <th:block th:each="client : ${approvals}">
                <form action="/profile" th:action="@{/profile}" method="POST"
                      th:id="${client.key} + '-form'" class="panel-content client-scopes">
                    <input type="hidden" name="clientId" th:value="${client.key}"/>
                    <div class="application-scopes">
                        <div class="application-label">
                            <h3 th:text="${clientnames[client.key]}">
                                Cloudbees
                            </h3><a href="#" th:href="|revoke?client=${client.key}|" th:attr="data-client-id=${client.key}" class="revoke-link">
                                Revoke Access
                            </a>
                        </div>
                        <ul>
                            <th:block th:each="approval, iter : ${client.value}" th:with="code=${'scope.' + approval.scope}">
                                <li>
                                    <input type="checkbox"
                                           name="checkedScopes"
                                           id="scope.0"
                                           th:id="|scope.${iter.index}|"
                                           th:value="|${approval.clientId}-${approval.scope}|"
                                           th:checked="${approval.status.toString() == 'APPROVED'}" />
                                    <label for="scope.0"
                                           th:for="|scope.${iter.index}|"
                                           th:text="${#messages.msgOrNull(code) ?: approval.description}">Something new.</label>
                                </li>
                            </th:block>
                        </ul>
                        <button type="submit" name="update" class="btn btn-primary">Update</button>
                        <div class="revocation-scrim" th:id="${client.key} + '-scrim'">
                            <div class="revocation-modal">
                                <div class="revocation-modal-header">
                                    <h3>Revoke Access</h3><div class="close-icon revocation-cancel">&#x2716;</div>
                                </div>
                                <p>
                                    Are you sure you want to revoke access to <th:block th:text="${clientnames[client.key]}">Cloudbees</th:block>?
                                </p>
                                <div class="revocation-actions">
                                    <button type="button" class="revocation-cancel btn btn-lowlight">Go Back</button>
                                    <button type="submit" class="revocation-confirm btn btn-primary" name="delete">Yes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </th:block>
        </div>
    </div>
</div>
</html>