<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <script th:src="@{/resources/predix/js/toast-notifications.js}" defer="defer"></script>
</head>
<div class="island" layout:fragment="page-content">
    <h1>Force change password</h1>
    <div class="island-content">
        <div th:text="|Email: ${email}|" class="email-display">Email: user@example.com</div>
        <form th:action="@{/force_password_change}" method="post" novalidate="novalidate">
            <div th:replace="~{fragments/toast :: errorMessage(${message})}"></div>
            <label>New password</label>
            <input name="password" type="password" aria-label="New Password" autocomplete="off" class="form-control"/>
            <label>Confirm new password</label>
            <input name="password_confirmation" type="password" aria-label="Confirm New Password" autocomplete="off" class="form-control"/>
            <input type="submit" value="Create new password" class="island-button"/>
        </form>
    </div>
</div>
</html>
