<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/main}">
<head>
    <script th:src="@{/resources/predix/js/toast-notifications.js}" defer="defer"></script>
</head>
<div class="island" layout:fragment="page-content">
    <h1>Reset Password</h1>
    <div class="island-content">
        <form th:action="@{/forgot_password.do}" method="post" novalidate="novalidate">
            <div th:replace="~{fragments/toast :: errorCode('forgot_password', ${message_code})}"></div>
            <div th:replace="~{fragments/toast :: errorMessage(${message})}"></div>
            <input type="hidden" name="client_id" th:value="${client_id}"/>
            <input type="hidden" name="redirect_uri" th:value="${redirect_uri}"/>
            <label>Username</label>
            <input name="username" type="text" aria-label="Username" autofocus="autofocus" class="form-control"/>
            <input type="submit" value="Send reset password link" class="forgot-password-button"/>
        </form>
        &larr;<a href="/login" th:href="@{/login}" class="link-lowlight">Back to sign-in</a>
    </div>
</div>
</html>
